

.section-five-container{
    background: #ebeaff;
    margin-top:-30px;
}

.section-five-h2{
    font-size: 36px;
    line-height: 44px;
    font-family: LyftProUI, sans-serif;
    font-weight: 600;
    padding-top: 50px;
    margin-left: 100px;
}

.section-five-p{
    font-size: 16px;
    line-height: 20px;
    font-family: ProximaNova, sans-serif;
    font-weight: 500;
    margin-left: 100px;
}