

.section-four-container{
    display: flex;
    background: #ebeaff;
    margin-top: 50px;
}

.section-four-text-container{
    margin-left: 100px;
    margin-top: 50px;
}

.section-four-image-container{
    margin-right: 100px;
    margin-top: 40px;
}

.section-four-text-ride{
    font-size: 16px;
    line-height: 20px;
    font-family: ProximaNova, sans-serif;
    font-weight: 700;
}

.section-four-text-ready{
    font-family: LyftProUI, sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.section-four-text-whether{
    font-family: ProximaNova, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.section-four-text-reliable{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    border:1px solid #631aca; 
    background:white;
    padding: 10px;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    font-size: 11px;
    line-height: 20px;
    font-family: ProximaNova, sans-serif;
    font-weight: 700;
    color: black;
    transition:0.2s;
    box-shadow: -3px 20px 24px -13px rgba(0,0,0,0.58);
     -webkit-box-shadow: -3px 20px 24px -13px rgba(0,0,0,0.58);
     -moz-box-shadow: -3px 20px 24px -13px rgba(0,0,0,0.58);

     .section-four-local-icon{
         font-size: 16px;
         color: black !important;
         margin-right: 10px;
         margin-left: -2px;
     }
}

.section-four-text-know{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: ProximaNova, sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    color: black;


    .section-four-mood-icon{
       color: black !important;
       font-size: 16px;
       margin-right: 10px;
    }
}

.section-four-text-get{
    border: none;
    background:#8B37FF;
    padding: 15px;
    border-radius: 50px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-family: ProximaNova, sans-serif;
    font-weight: 700;
    color: white;
    transition:0.2s;
    margin-bottom: 50px;
    margin-top: 30px;
}

.section-four-text-get:hover{
    background:#631aca;
}

.section-four-text-join{
    font-size: 14px;
    line-height: 20px;
    font-family: ProximaNova, sans-serif;
    font-weight: 400
}