

.section-four-container{
    display: flex;
    background: #ebeaff;
    margin-top: 50px;
}

.section-four-text-container{
    margin-left: 100px;
    margin-top: 50px;
}

.section-four-image-container{
    margin-right: 100px;
    margin-top: 40px;
}

.section-four-text-ride{
    font-size: 16px;
    line-height: 20px;
    font-family: ProximaNova, sans-serif;
    font-weight: 700;
}

.section-four-text-ready{
    font-family: LyftProUI, sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.section-four-text-whether{
    font-family: ProximaNova, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}